header {
  background: #2c2c2c;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}

.profile {
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 30px;
  background: #3a3a3a;
  padding: 10px;
  border-radius: 5px;
}

.hidden {
  display: none;
}
